<div *ngIf="productos.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>ID Categoria</th>
        <th>ID Producto</th>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.category_id }}</td>
        <td>{{ producto.id }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.description }}</td>

        <td>
          <button (click)="openModal(producto)">Editar</button>
          <button (click)="eliminarProducto(producto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <p>No se encontraron categorías.</p>
</ng-template>

<!-- Modal -->
<div *ngIf="isModalOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Editar Producto</h2>
    <form (ngSubmit)="actualizarProducto(selectedProduct)">
      <label for="name">Nombre del producto:</label>
      <input id="name" [(ngModel)]="selectedProduct.name" name="name" />

      <label for="description">Descripción:</label>
      <input id="description" [(ngModel)]="selectedProduct.description" name="description" />

      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
</div>
