<div *ngIf="productos.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>ID Categoria</th>
        <th>ID Producto</th>
        <th>Nombre del producto</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.category_id }}</td>
        <td>{{ producto.id }}</td>
        <td>{{ producto.name }}</td>
        <td>{{ producto.description }}</td>

        <td>
          <button (click)="editarProducto(producto)">Editar</button>
          <button (click)="eliminarProducto(producto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <p>No se encontraron categorías.</p>
</ng-template>