<div *ngIf="categorias.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre de Categoría</th>
        <th>Categoría Padre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.category_name }}</td>
        <td>{{ categoria.parent_category }}</td>
        <td>
          <button (click)="openModal(categoria)">Editar</button>
          <button (click)="eliminarCategoria(categoria.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData>
  <p>No se encontraron categorías.</p>
</ng-template>

{{isModalOpentwo}}

<!-- Modal -->
<div *ngIf="isModalOpentwo" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Editar Categoria</h2>
    <form  (ngSubmit)="actualizarCategoria(selectedCategory)">         
      <div class="form-group">
        <label for="exampleInputName">Nombre del producto</label>
        <input type="name"  [(ngModel)]="selectedCategory.category_name" name="category_name" class="form-control" id="category_name" placeholder="Ingrese e nombre del producto">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
      <div class="form-group">
        <label for="examplePrice">Descripción</label>
        <input type="description"  [(ngModel)]="selectedCategory.description_category" name="description_category" class="form-control" id="description_category" placeholder="Precio">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>