<!-- @if (showHeader) {
  <div class="card-header d-flex align-items-center justify-content-between" [ngClass]="headerClass">
    <div>
      <h5>{{ cardTitle }}</h5>
      <ng-container *ngTemplateOutlet="headerTitleTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="headerOptionsTemplate"></ng-container>
  </div>
  }
  @if (showContent) {
  <div class="card-body" [ngClass]="blockClass" [style.padding.px]="padding">
    <ng-content></ng-content>
  </div>
  } -->

<form (ngSubmit)="onSubmit()" #productForm="ngForm">



  <div class="form-group">
    <label for="exampleInputName">Nombre del producto</label>
    <input type="name" [(ngModel)]="producto.name" name="name" class="form-control" id="name"
      placeholder="Ingrese e nombre del producto">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="examplePrice">Precio</label>
    <input type="price" [(ngModel)]="producto.price" name="price" class="form-control" id="price" placeholder="Precio">
  </div>

  <div class="form-group">
    <label for="examplePrice">Descripción</label>
    <input type="price" [(ngModel)]="producto.description" name="description" class="form-control" id="description"
      placeholder="Descripción">
  </div>

  <div class="form-group">
    <label for="examplePrice">Cantidad </label>
    <input type="price" [(ngModel)]="producto.quantity" name="quantity" class="form-control" id="quantity"
      placeholder="Cantidad">
  </div>




  <div class="form-group">
    <label for="examplePrice">Estado </label>
    <select name="status" id="status" [(ngModel)]="producto.status">
      <option value="Y">Y</option>
      <option value="N">N</option>
    </select>
  </div>

  <div class="form-group">
    <label for="examplePrice">Categoria </label>
    <select name="category" [(ngModel)]="producto.category">
      <option value="39">39</option>
      <option value="38">38</option>
    </select>
  </div>


  <div class="form-group">
    <label for="examplePrice">Imagen </label>
    <input type="file" (change)="onFileSelected($event)" class="form-control" placeholder="Seleccione la imagen"
      required>
    <img *ngIf="imagePreview" [src]="imagePreview" alt="Vista previa" />
  </div>

  <div class="form-footer">
    <button class="btn btn-primary" type="submit">Crear Producto</button>
  </div>
</form>

{{this.message}}


<div class="col-md-6 col-lg-4">

  <app-product-table></app-product-table> <!-- Aquí estás incluyendo el componente hijo -->

</div>