<!-- @if (showHeader) {
  <div class="card-header d-flex align-items-center justify-content-between" [ngClass]="headerClass">
    <div>
      <h5>{{ cardTitle }}</h5>
      <ng-container *ngTemplateOutlet="headerTitleTemplate"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="headerOptionsTemplate"></ng-container>
  </div>
  }
  @if (showContent) {
  <div class="card-body" [ngClass]="blockClass" [style.padding.px]="padding">
    <ng-content></ng-content>
  </div>
  } -->

<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <div class="form-group">
    <label for="categoria">ID Categoria</label>
    <input class="form-control" type="text" id="categoria" name="categoria" required [(ngModel)]="producto.category_id">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre del producto (sin números)</label>
    <input type="text" id="nombre" name="nombre" required class="form-control" [(ngModel)]="producto.name">
  </div>
  <div class="form-group">
    <label for="cantidad">Cantidad</label>
    <input class="form-control" type="text" id="cantidad" name="cantidad" required [(ngModel)]="producto.description">
  </div>

  <div class="form-group">
    <label for="estado">Categoria</label>
    <select id="estado" name="estado" required class="custom-select" [(ngModel)]="producto.category_id">
      <option value="1">Activo</option>
      <option value="2">Inactivo</option>
    </select>
  </div>
  <div class="form-footer">
    <button class="btn btn-primary" type="submit">Crear Producto</button>
  </div>
</form>

{{this.message}}


<div class="col-md-6 col-lg-4">

  <app-product-table></app-product-table> <!-- Aquí estás incluyendo el componente hijo -->

</div>