<!-- login.component.html -->
<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="#"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Ingreso</b></h3>
            <a [routerLink]="['/register']" class="link-primary">¿Aún no tienes cuenta?</a>
          </div>

          <!-- Contenedor para el mensaje de error -->
          <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>

          <div class="form-group mb-3">
            <label class="form-label" for="email">Dirección de correo</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email Address"
              [(ngModel)]="email"
            />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              [(ngModel)]="password"
            />
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input
                class="form-check-input input-primary"
                type="checkbox"
                id="customCheckc1"
                [(ngModel)]="rememberMe"
              />
              <label class="form-check-label text-muted" for="customCheckc1">Recordar</label>
            </div>
            <h5 class="text-secondary f-w-400"><a [routerLink]="['/forgot-password']">¿Olvidó su contraseña?</a></h5>
          </div>
          <div class="d-grid mt-4">
            <button type="button" (click)="handleFormSubmit()" class="btn btn-primary">Ingresa</button>
          </div>
          <div class="saprator mt-3">
            <span>Ingresa con</span>
          </div>
          <div class="row">
            <div class="col-4" *ngFor="let item of SignInOptions">
              <div class="d-grid">
                <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                  <img [src]="item.image" alt="google img" />
                  <span class="d-none d-sm-inline-block"> {{ item.name }}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">Copyright © <a href="https://codedthemes.com/" target="_blank"></a></p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Inicio</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Política de privacidad</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Nuestro contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
