<!-- [ Main Content ] start -->
<div class="row">
  <!-- [ Typography ] start -->
  <div class="col-sm-12">
    Crear
  </div>

  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre de la categoria (sin números)</label>
        <input type="text" id="nombre" name="nombre" required class="form-control">
        <small id="emailHelp" class="form-text text-muted">Su dirección de correo se encuentra protegida</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Descripción</label>
        <input class="form-control" type="text" id="descripcion" name="descripcion" required>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Estado</label>
        <select id="estado" name="estado" required class="custom-select">
          <option value="1">Activo</option>
          <option value="2">Inactivo</option>
        </select>
      </div>
      <div class="form-footer">
        <button class="btn btn-primary" type="submit">Crear Categoria</button>
        <small id="emailHelp" class="form-text text-muted">Asegurese de ingresar los datos correctamente</small>
      </div>
    </form><br>
  </div>
  <div class="col-md-6 col-lg-4">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis" [colors]="chartOptions.colors" [stroke]="chartOptions.stroke"
      [yaxis]="chartOptions.yaxis" [grid]="chartOptions.grid" [tooltip]="chartOptions.tooltip"></apx-chart>
  </div>
  <div class="col-md-6 col-lg-4">

  </div>
  <div class="col-md-6">

  </div>
  <div class="col-md-6">

  </div>
  <!-- [ Typography ] end -->
</div>
<!-- [ Main Content ] end -->