<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo img" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Regístrese</b></h3>
            <a [routerLink]="['/login']" class="link-primary">¿Ya tienes una cuenta?</a>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label class="form-label" for="firstName">Nombres*</label>
                <input type="text" class="form-control" id="firstName" placeholder="Nombres" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label class="form-label" for="lastName">Apellidos*</label>
                <input type="text" class="form-control" id="lastName" placeholder="Apellidos" />
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="contact">Número de contacto</label>
            <input type="text" class="form-control" id="contact" placeholder="Contacto" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="emailAddress">Dirección de correo*</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Dirección de correo" />
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Contraseña" />
          </div>
          <p class="mt-4 text-sm text-muted">Al suscribirse usted acepta nuestros<a href="javascript:"
              class="text-primary">
              Términos de servicio </a> y
            <a href="javascript:" class="text-primary"> Política de privacidad</a>
          </p>
          <div class="d-grid mt-3">
            <button type="button" class="btn btn-primary">Crear cuenta</button>
          </div>
          <div class="saprator mt-3">
            <span>Ingresar con</span>
          </div>
          <div class="row">
            @for (item of SignUpOptions; track item) {
            <div class="col-4">
              <div class="d-grid">
                <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                  <img src="{{ item.image }}" alt="google img" />
                  <span class="d-none d-sm-inline-block"> {{ item.name }}</span>
                </button>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="auth-footer row">
        <!-- <div class=""> -->
        <div class="col my-1">
          <p class="m-0">Copyright © <a href="https://codedthemes.com/" target="_blank"></a></p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Inicio</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Política de
                privacidad</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Nuestro
                contacto</a>
            </li>
          </ul>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>